* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    background-color: lightgray;
}

.header {
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    background-color: skyblue;
}

.task_table {
    margin: 0 auto;
}

.input_task {
    padding-left: 15px;
}

.task_text {
    text-align: center;
}

.tasks {
    text-align: center;
}

.task_list {
    margin: 0 auto;
    list-style: none;
}

.task {
    display: inline-block;
    border-bottom: 0.5px solid black;
    font-style: italic;
    margin: 0 10px;
}

.task_table_list {
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

.task_table_list td {
    min-width: 50px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: white;
}
